body {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(218, 218, 228);
    
}
header h2 {
    background-color:#d2ced6;
    margin: 0%;
    text-align: right;
}

main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 700px;
    background-color:white;
    color: black;
    padding: 12px;
    gap: 10px;
}

#spotify {
    background-color:#dcd8e2;
    margin: 0%;
    text-align: center;
}

footer {
    background-color: rgb(233, 221, 221);
    height: 300px;
    text-align: center;
}