body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/picture.jpeg');
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header" 
    "article article figure" 
    "main main figure" 
    "ul ul ul"
    "footer footer footer";
}

header {
    grid-area: header;
    margin: 0%;
    padding: 0%;
    color: white;
    position: relative;
}
#bild {
    width: 100%;
    height: 100%;
    position: absolute;
}
::placeholder {
    color:#EBF0FF;
}
#batman {
    float: right;
    margin-right: 7%;
}
#batman input {
    display: inline-block;
}
.input-field-loader {

}

article {
    grid-area: article;
    text-align: center;
    height: 10vh;
    padding-left: 50%;
    padding-bottom: 15%;
    color: white;
    font-size: 150%;
    position: relative;
}

figure {
    grid-area: figure;
    display: grid;
    padding-bottom: 57%;
    padding-left: 10%;
}

.error-message {
    color: red;
}

main {
    grid-area: main;
    display: grid;
    margin-left: 49%;
    margin-bottom: 10%;
    position: relative;
}

.music-player {
    grid-area: b;
    display: grid;
}

#audio {
    margin-left: 20%;
}

.map-section {
    grid-area: figure;
    display: grid;
}

ul {
    grid-area: ul;
    background-color: #D5F2E2;
}

footer {
    grid-area: footer;
    text-align: center;
}
/* 
#map {
   /* height: 30vh;
    margin-top: 20%;
}
*/ 
#music-player-image {
    width: 100%;
    height: 100%;
    width: 35vh;
    height: 35vh;
    margin-top: 10%;
    margin-right: 50%;
    background: none;
}

#music-player-image {
    width: 1000vh;
    height: 1000vh;
    margin-left: 10%;
    margin-bottom: 20%;
}

img {
    width: 10vh;
    height: 10vh;
}

.button-position {
    background-color: #F55184;
    color: white;
    width: 15rem;
    height: 3rem;
    position: relative;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-top: 30%;
    margin-left: 8%;

}

.button:active {
    background-color: #4734EB;
}

.button-text {
    transition: all 0.s;
    color: white;
    font: bold 20px;
}

.button--loading .button-text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

#city-input {
    display: none;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: transparent;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

table {
    padding-right: 10rem;
    cursor: pointer;
}

#music-player-image {
    width: 400px;
    height: 350px;
}

.search-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: white;
}

.input-field-loader {
    width: 16px;
    height: 16px;
    border: 4px solid transparent;
    border-top-color: rgb(20, 18, 18);
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}